<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">

    <title>{{ shop.name }}</title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ 'theme.scss' | asset_url | stylesheet_tag }}

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

    {{ content_for_header }}

  {% include "globale-js.liquid" %}
</head>

<body class="layout-prompt template-password">
    <main>
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                    <div class="storelli-logo-img dark"></div>
                    {% unless shop.password_message == blank %}
                        <h1 class="mt-4">{{ shop.password_message }}</h1>
                    {% endunless %}
                    <p class="mt-4 mb-4">{{ 'general.password_page.login_form_heading' | t }}</p>
                    {% form 'storefront_password' %}
                        {{ form.errors | default_errors }}
                        <div class="form-group">
                            <input type="password" class="form-control form-control-xl" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                        </div>
                        <input type="submit" class="btn btn-block btn-dark btn-storelli" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
                    {% endform %}
                </div>
            </div>
        </div>
        {{ content_for_layout }}
    </main>

</body>

</html>
