
<section class="animated_text-scroll" style="background:{{section.settings.animated_bg}};">
    <div class="animated_text-scroll-wrapper" >
        {% for block in section.blocks %}
        <p class="animated_text-scroll-title" style="color:{{section.settings.title_color}};">
            {{block.settings.title}}
        </p>
        {% endfor %}
    </div>
    <div class="animated_text-scroll-wrapper">
        {% for block in section.blocks %}
        <p class="animated_text-scroll-title">
            {{block.settings.title}}
        </p>
        {% endfor %}
    </div>
    <style>
    .animated_text-scroll p{
      color:{{section.settings.title_color}};
      margin-bottom:0;
    }
    </style>
</section>

{% schema %}
{
  "name": "animated text scroll",
  "class": "animated-scroll-section",
  "settings": [
    {
      "type": "color",
      "id": "animated_bg",
      "label": "Bankground color"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    }
  ],
    "blocks": [
      {
        "type": "text",
        "name": "text",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [{
        "name": "animated text scroll"
      }]
}
{% endschema %}

{% style  %}
    /*********** animated scroll section ***********/
.animated-scroll-section {
  margin-bottom: 0px;
}
.animated_text-scroll {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
  overflow: hidden;
}
.animated_text-scroll-wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: slide-left 55s linear infinite;
}
.animated_text-scroll-title {
  padding: 30px 55px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.015em;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 767px) {
  .animated_text-scroll-title {
    padding: 20px 40px;
  }
}
/*********** animated scroll section ***********/

{% endstyle %}