{% schema %}
{
    "name": "Featured product",
    "settings": [{
        "type": "product",
        "id": "product",
        "label": "Product"
    }, {
        "type": "text",
        "id": "tag",
        "label": "Tag",
        "default": "New Arrival"
    }]
}
{% endschema %}



{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% if product != empty %}
    <div class="featured-product dark-section" 
        data-section-id="{{ section.id }}" 
        data-section-type="product" 
        itemscope 
        itemtype="http://schema.org/Product"
        >
        <meta itemprop="name" content="{{ product.title }}">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ featured_image | img_url: '800x' }}">
        <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-md-block col-md-6 offset-md-1 text-center order-md-1">
                    {% if product.featured_image != blank %}
                        <a href="{{ product.url | within: collection }}">
                            <img alt="featured product image" class="img-fluid lazyload_class lazyload" data-src="{{ product.featured_image.src | img_url: '960x' }}" src="{{ 'loader.gif' | asset_url  }}" />
                        </a>
                    {% endif %} 
                </div>
                <div class="col-12 col-md-4 offset-md-1 text-center order-md-0 d-flex flex-column justify-content-center">
                    <div class="data">
                        <div class="mt-5 d-block d-md-none"></div>
                        {% if section.settings.tag != blank %}
                            <div class="tag">{{ section.settings.tag }}</div>
                        {% endif %}
                        <h2 class="title">
                            <a href="{{ product.url | within: collection }}">
                                {{ product.title }}
                            </a>
                        </h2>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                            <meta itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
                            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                            
                            <div class="price igPrice" data-product-id="{{ product.id }}">
                                <span>{{ current_variant.price | default: '1999' | money }}</span>
                                {% if product.compare_at_price_max > product.price %}
                                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                                    <s data-compare-price>
                                        {% if current_variant.compare_at_price > current_variant.price %}
                                            {{ current_variant.compare_at_price | money }}
                                        {% endif %}
                                    </s>
                                {% endif %}
                            </div>
                  
                            <a href="{{ product.url | within: collection }}">
                                <img alt="featured product image" class="d-block d-md-none mb-3 img-fluid lazyload_class lazyload" data-src="{{ product.featured_image.src | img_url: '960x' }}" src="{{ 'loader.gif' | asset_url  }}" />
                            </a>

                            <a class="light-link decorated-link featured-link" href="{{ product.url | within: collection }}">
                                Shop Now
                            </a>

                            <div class="mt-5 d-block d-md-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}