{%- comment -%}
Parameters:
  menu = linklist
{%- endcomment -%}

{%- assign fallback_dropdown_item_image = section.settings.fallback_dropdown_item_image -%}

{%- if menu.links.size > 0 -%}
  <nav class="offcanvas-Menu" role="navigation">
    <ul class="offcanvas-Menu-items">
      {%- for toplink in menu.links -%}
        {%- assign toplink_uid = toplink.title | handle | sha256 -%}
        <li class="offcanvas-Menu-item">
          <a class="js-offcanvas-menu-link offcanvas-Menu-itemLink {% if toplink.links.size > 0 %}offcanvas-Menu-itemLink--expandable{% endif %} {% if toplink.active %}offcanvas-Menu-itemLink--active{% endif %}" href="{{ toplink.url }}" data-dropdown-id="{{ toplink_uid }}">
            {{ toplink.title }}
          </a>

          {%- if toplink.links.size > 0 -%}
            <div class="js-offcanvas-menu-dropdown offcanvas-Dropdown" data-dropdown-id="{{ toplink_uid }}">
              <div class="offcanvas-Dropdown-sections">
                {%- if toplink.type == 'collection_link' -%}
                  <div class="offcanvas-Dropdown-allItems">
                    <a class="offcanvas-Dropdown-allItemsLink" href="{{ toplink.url }}">
                      {%- assign all_items_link_title = '' -%}
                      {%- assign toplink_title_handle = toplink.title | handle -%}
                      {%- if toplink_title_handle != 'shop' -%}
                        {%- assign all_items_link_title = toplink.title -%}
                      {%- endif -%}
                      {{ all_items_link_title | prepend: 'Shop All ' }}
                    </a>
                  </div>
                {%- endif -%}

                {%- assign dropdown_item_with_image_count = 0 -%}
                {%- capture dropdown_items_render -%}
                  {%- for midlink in toplink.links -%}
                    {%- assign image = nil -%}

                    {%- if midlink.type == 'collection_link' -%}
                      {%- if midlink.object.all_products_count > 0 -%}
                        {%- for prd in midlink.object.products -%}
                          {%- if image -%}
                            {%- break -%}
                          {%- endif -%}
                          {%- assign image = prd.featured_image -%}
                        {%- endfor -%}
                      {%- endif -%}
                    {%- endif -%}

                    {%- if midlink.type == 'product_link' -%}
                      {%- assign image = midlink.object.featured_image -%}
                    {%- endif -%}

                    {%- assign image_override = midlink.object.metafields.theme_e23039c36d.dropdown_item_image | default: '' | strip_newlines | strip -%}

                    {%- if image or image_override != blank -%}
                      {%- assign dropdown_item_with_image_count = dropdown_item_with_image_count | plus: 1 -%}
                    {%- elsif fallback_dropdown_item_image -%}
                      {%- assign image = fallback_dropdown_item_image -%}
                    {%- endif -%}

                    {%- assign sizes = '100,160,320,480,640' | split: ',' -%}
                    {%- assign image_sizes = '' -%}
                    {%- if image -%}
                      {%- capture image_sizes -%}
                        {%- for size in sizes -%}
                          {%- assign width = size | round -%}
                          {%- assign size_request = width | append: 'x' | append: width -%}
                          {{- image | img_url: size_request, crop: 'center' | append: ' ' | append: width | append: 'w' -}}
                          {%- unless forloop.last -%},{%- endunless -%}
                        {%- endfor -%}
                      {%- endcapture -%}
                      {%- assign image_sizes = image_sizes | strip_newlines | strip -%}
                    {%- endif -%}

                    {%- if image_override != blank -%}
                      {%- capture image_sizes -%}
                        {%- for size in sizes -%}
                          {%- assign width = size | round -%}
                          {%- assign size_request = width | times: 1.25 | round | append: 'x' -%}
                          {{- image_override | file_img_url: size_request | append: ' ' | append: width | append: 'w' -}}
                          {%- unless forloop.last -%},{%- endunless -%}
                        {%- endfor -%}
                      {%- endcapture -%}
                      {%- assign image_sizes = image_sizes | strip_newlines | strip -%}
                    {%- endif -%}

                    <li class="offcanvas-Dropdown-item">
                      <a class="offcanvas-Dropdown-itemLink {% if midlink.active %}offcanvas-Dropdown-itemLink--active{% endif %}" href="{{ midlink.url }}">
                        <div class="offcanvas-Dropdown-itemImage">
                          <div class="offcanvas-Dropdown-itemImagePlaceholder o-placeholder {% if image_sizes != blank %}lazyload{% endif %}" data-bgset="{{ image_sizes }}" data-sizes="auto"></div>
                        </div>
                        <div class="offcanvas-Dropdown-itemTitle">
                          {{ midlink.title }}
                        </div>
                      </a>
                    </li>
                  {%- endfor -%}
                {%- endcapture -%}

                {%- assign dropdown_images_enabled = false -%}
                {%- assign dropdown_item_image_visibility_threshold = 0.6 -%}
                {%- assign dropdown_item_image_visibility_average = dropdown_item_with_image_count | times: 1.0 | divided_by: toplink.links.size -%}
                {%- if dropdown_item_image_visibility_average >= dropdown_item_image_visibility_threshold -%}
                  {%- assign dropdown_images_enabled = true -%}
                {%- endif -%}

                <ul class="offcanvas-Dropdown-items {% unless dropdown_images_enabled %}offcanvas-Dropdown-items--noImages{% endunless %}">
                  {{- dropdown_items_render -}}
                </ul>
              </div>
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}

