<div class="bm-knot-hero">
  <div class="bm-knot-inner">
    <div class="bm-knot-left">
      <div class="img-wrapper">
        <img src="{{ section.settings.heroImageUrl | img_url: '568x383'   }} " alt=""  width:'200x'>
      </div>
      <div class="bm-knot-batch">
        <p>{{ section.settings.productTitle }}</p>
      </div>
      <div class="text-line">
        <p>{{ section.settings.productDescription }}</p>
      </div>
      <div class="bm-index-wrapper">
        <div class="index">
          <div class="index-img">
            <img src="{{ section.settings.indexImageUrl | img_url: '280x185'   }}" alt="" >
          </div>
          <div class="text-wrapper">
            <h5>{{ section.settings.indexTitle }}</h5>
            <p>{{ section.settings.indexDescription }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bm-knot-right">
      <h1>{{ section.settings.productName }}</h1>
      <p>
        <span>{{ section.settings.productSubtitle }}</span>
        {{ section.settings.productDescriptionLong }}
      </p>   
        <ul>
          <li>Instant pain relief and tension release.</li>
          <li>Hands-free design for hassle-free massages.</li>
          <li>Perfect for busy people seeking relaxation at home.</li>
          <li>Powerful suction cup for easy attachment to any smooth surface.</li>
         </ul>      
    </div>
  </div>
</div>



{% schema %}
{
  "name": "BM Knot Hero",
  "tag":"section",
  "settings": [
    {
      "type": "text",
      "id": "productTitle",
      "label": "Product Title"
    },
    {
      "type": "textarea",
      "id": "productDescription",
      "label": "Product Description"
    },
    {
      "type": "image_picker",
      "id": "heroImageUrl",
      "label": "hero Image URL"
    },
     {
      "type": "image_picker",
      "id": "indexImageUrl",
      "label": "Index Image URL"
    },
    {
      "type": "text",
      "id": "indexTitle",
      "label": "Index Title"
    },
    {
      "type": "textarea",
      "id": "indexDescription",
      "label": "Index Description"
    },
    {
      "type": "text",
      "id": "productName",
      "label": "Product Name"
    },
    {
      "type": "text",
      "id": "productSubtitle",
      "label": "Product Subtitle"
    },
    {
      "type": "textarea",
      "id": "productDescriptionLong",
      "label": "Product Long Description"
    },
    {
      "type": "text",
      "id": "productFeatures",
      "label": "Product Features",
      "info": "Enter each feature on a new line"
    }
  ],
  "presets": [
    {
      "name": "bm-knot-hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}





{% style %}
.bm-knot-inner{
  display:flex;
  padding:40px 5rem;
  flex-wrap:wrap;
}

   .bm-knot-left{
     position:relative;
   }

  .bm-knot-left,
   .bm-knot-right
{
    max-width:50%;
  }

  .bm-knot-batch{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 10px;  
    max-width: 195px;
    border-radius: 16px;
}

  .bm-knot-right p span{
    font-weight:800;
    display:block;
  }


  .text-line p{
    text-align:center;
    background: #F9F9F9;

  }


  .index{
    display:flex;
    justify-content:space-between;
    
  }

  index-img img{
    height:100px;
  }

  .text-wrapper{
    max-width: 50%;
    border-radius: 20px;
    background: #fff;
    padding:0 10px;

  }

   .bm-knot-right ul{
     padding:0;
   }

  .bm-knot-batch p{
    margin:0 ;
    line-height: 1.3;
    text-align: center;
  }

   .bm-knot-right li{
    list-style: none;
    display: flex;
    align-items: center;  
    gap: 8px;
     padding:5px 0;

   }

  .bm-knot-right li:before{
    content:'';
    height:25px;
    width:25px;
    display:inline-block;
    background-image:url('https://xp.io/storage/2FDQ6BCO.png');
    background-size:contain;
  }


  
{% endstyle %}

