<div class="bm-knot-hero">
  <div class="bm-knot-inner">
    <div class="bm-knot-left">
      <div class="img-wrapper">
        <img src="{{ section.settings.heroImageUrl | img_url: '568x383'   }} " alt=""  width:'200x'>
      </div>
      <div class="bm-knot-batch">
        <p>{{ section.settings.productTitle }}</p>
      </div>
      <div class="text-line">
        <p>{{ section.settings.productDescription }}</p>
      </div>
      <div class="bm-index-wrapper">
        <div class="index">
          <div class="index-img">
            <img src="{{ section.settings.indexImageUrl | img_url: '280x185'   }}" alt="" >
          </div>
          <div class="text-wrapper">
            <h5>{{ section.settings.indexTitle }}</h5>
            <p>{{ section.settings.indexDescription }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bm-knot-right">
      <h1>{{ section.settings.productName }}</h1>
      <p>
        <span>{{ section.settings.productSubtitle }}</span>
        {{ section.settings.productDescriptionLong }}
      </p>
      <ul>
        {% for feature in productFeatures %}
        <li>{{ section.settings.feature }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "BM Knot Hero",
  "tag":"section",
  "settings": [
    {
      "type": "text",
      "id": "productTitle",
      "label": "Product Title"
    },
    {
      "type": "textarea",
      "id": "productDescription",
      "label": "Product Description"
    },
    {
      "type": "image_picker",
      "id": "heroImageUrl",
      "label": "hero Image URL"
    },
     {
      "type": "image_picker",
      "id": "indexImageUrl",
      "label": "Index Image URL"
    },
    {
      "type": "text",
      "id": "indexTitle",
      "label": "Index Title"
    },
    {
      "type": "textarea",
      "id": "indexDescription",
      "label": "Index Description"
    },
    {
      "type": "text",
      "id": "productName",
      "label": "Product Name"
    },
    {
      "type": "text",
      "id": "productSubtitle",
      "label": "Product Subtitle"
    },
    {
      "type": "textarea",
      "id": "productDescriptionLong",
      "label": "Product Long Description"
    },
    {
      "type": "text",
      "id": "productFeatures",
      "label": "Product Features",
      "info": "Enter each feature on a new line"
    }
  ],
  "presets": [
    {
      "name": "bm-knot-hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}





{% style %}
.bm-knot-inner{
  display:flex;
  padding:0 5rem
}

   .bm-knot-left{
     position:relative;
   }

  .bm-knot-left,
   .bm-knot-right
{
    max-width:50%;
  }

  .bm-knot-batch{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 10px;
}

  .bm-knot-right p span{
    font-weight:800;
    display:block;
  }


  .text-line p{
    text-align:center;
  }


  .index{
    display:flex;
    justify-content:space-between;
    
  }

  .text-wrapper{
    max-width: 50%;
    border-radius: 20px;
    background: #fff;
    padding:0 10px;

  }


  
{% endstyle %}

