<div class="wrapper">
  <header>
    <div class="headline">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <ul id="slides">
      {% for slide in section.blocks %}
        <li class="slide {{ slide.settings.slide_class }} {{ slide.settings.show_class }}">
          <h2>{{ slide.settings.title }}</h2>
          <div class="img-wrapper">
            <img src="{{ slide.settings.image_url }}" alt="{{ slide.settings.image_alt }}">
          </div>
          <p>{{ slide.settings.content }}</p>
        </li>
      {% endfor %}
    </ul>
  </header>
</div>

{% schema %}
{
  "name": "Header Slider",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "label": "Slide Class",
          "id": "slide_class"
        },
        {
          "type": "text",
          "label": "Slide Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Image URL",
          "id": "image_url"
        },
        {
          "type": "text",
          "label": "Image Alt Text",
          "id": "image_alt"
        },
        {
          "type": "textarea",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "text",
          "label": "Show Class",
          "id": "show_class"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BM Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
