<div class="bm-wrapper">
  <div class="bm-inner">
    <div class="bm-left-block">
      <div class="left-container">
        <h2 class="bm-title">{{ section.settings.title }}</h2>
        <p class="bm-desc">{{ section.settings.description }}</p>
        <div class="bm-cta">
          <a href="{{ section.settings.cta_link }}" class="bm-link">
            <button class="bm-button">{{ section.settings.cta_text }}</button>
          </a>
        </div>
      </div>
    </div>
    <div class="bm-slider-wrapper swiper">
      <div class="bm-slide-conatiner swiper-wrapper">
        {% for slide in section.blocks %}
          <div class="bm-slide swiper-slide">
            <div class="img-block">
              <img src="{{ slide.settings.image_url }}" alt="">
            </div>
            <div class="slide-content">
              <div class="title-block">
                <p class="main-line">
                  {{ slide.settings.title }}
                  <span class="sub-line">{{ slide.settings.subtitle }}</span>
                </p>
              </div>
              <div class="num-block">{{ slide.settings.amount }}</div>
              <div class="commit-line">{{ slide.settings.commitment }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swipper-btn">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header Slider",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "label": "Slide Class",
          "id": "slide_class"
        },
        {
          "type": "text",
          "label": "Slide Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Image URL",
          "id": "image_url"
        },
        {
          "type": "text",
          "label": "Image Alt Text",
          "id": "image_alt"
        },
        {
          "type": "textarea",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "text",
          "label": "Show Class",
          "id": "show_class"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BM Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
