<div class="bm-wrapper">
  <div class="bm-inner">
    <div class="bm-left-block">
      <div class="left-container">
        <h2 class="bm-title">{{ section.settings.MainTitle }}</h2>
        <p class="bm-desc">{{ section.settings.MainDescription }}</p>
        <div class="bm-cta">
          <a href="{{ section.settings.cta_link }}" class="bm-link">
            <button class="bm-button">{{ section.settings.cta_text }}</button>
          </a>
        </div>
      </div>
    </div>
    <div class="bm-slider-wrapper swiper">
      <div class="bm-slide-conatiner swiper-wrapper">
        {% for slide in section.blocks %}
          <div class="bm-slide swiper-slide">
            <div class="img-block">
              <img src="{{ slide.settings.image_url }}" alt="">
            </div>
            <div class="slide-content">
              <div class="title-block">
                <p class="main-line">
                  {{ slide.settings.title }}
                </p>
              </div>
              <div class="commit-line">{{ slide.settings.commitment }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swipper-btn">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BM Slider",
   "class":"page-width",
  "settings": [
    {
      "type": "text",
      "label": "Main Title",
      "id": "MainTitle"
    },
    {
      "type": "textarea",
      "label": "Main Description",
      "id": "MainDescription"
    },
    {
      "type": "url",
      "label": "CTA Link",
      "id": "cta_link"
    },
    {
      "type": "text",
      "label": "CTA Text",
      "id": "cta_text"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "url",
          "label": "Image URL",
          "id": "image_url"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Commitment",
          "id": "commitment"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BM Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
