<div class="bm-wrapper">
  <div class="bm-inner">
    <div class="bm-left-block">
      <div class="left-container">
        <h2 class="bm-title">{{ section.settings.MainTitle }}</h2>
        <p class="bm-desc">{{ section.settings.MainDescription }}</p>
      </div>
    </div>
    <div class="bm-slider-wrapper swiper">
      <div class="bm-slide-conatiner swiper-wrapper">
        {% for slide in section.blocks %}
          <div class="bm-slide swiper-slide">
            <div class="img-block">
              <img src="{{ slide.settings.image_url }}" alt="">
            </div>
            <div class="slide-content">
              <div class="title-block">
                <p class="main-line">
                  {{ slide.settings.title }}
                </p>
              </div>
              <div class="commit-line">{{ slide.settings.commitment }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swipper-btn">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BM Slider",
   "class":"page-width",
  "settings": [
    {
      "type": "text",
      "label": "Main Title",
      "id": "MainTitle"
    },
    {
      "type": "textarea",
      "label": "Main Description",
      "id": "MainDescription"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "url",
          "label": "Image URL",
          "id": "image_url"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Commitment",
          "id": "commitment"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BM Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  //add swiper slider script
   function addScript() {
     var bmScript = document.createElement("script");
     bmScript.src =
       "https://unpkg.com/swiper@7/swiper-bundle.min.js";
     document.getElementsByTagName("head")[0].appendChild(bmScript);
   }
   addScript();




     //create swiper slider
     function swiperslider() {
       var swiper = document.querySelector(".bm-slide-conatiner");
       new Swiper(swiper, {
         slidesPerView: 3,
         grabCursor: true,
         loop: true,
         pagination: {
           el: ".swiper-pagination",
           clickable: true,
         },
         // autoplay: {
         //   delay: 4000,
         //   disableOnInteraction: false,
         // },
         navigation: {
           nextEl: ".swiper-button-next",
           prevEl: ".swiper-button-prev",
         },
         breakpoints: {
           0: {
             slidesPerView: 1,
           },
           768: {
             slidesPerView: 2,
           },
           1024: {
             slidesPerView: 4,
           },
         },
       });
     }



   //add swiper slider css
   function addcssScript() {
     var bmcsslink = document.createElement("link");
     bmcsslink.rel = "stylesheet";
     bmcsslink.href =
       "https://unpkg.com/swiper@7/swiper-bundle.min.css";
     document.getElementsByTagName("head")[0].appendChild(bmcsslink);
   }
   addcssScript();
</script>
